@font-face {
    font-family: "Raleway-Regular";
    src: url("../fonts/Raleway-Regular.eot") format("eot"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.svg") format("svg");
}

@font-face {
    font-family: "Raleway-Medium";
    src: url("../fonts/Raleway-Medium.eot") format("eot"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype"), url("../fonts/Raleway-Medium.otf") format("opentype"), url("../fonts/Raleway-Medium.svg") format("svg");
}


@font-face {
    font-family: "glyphicon-halflings-regular";
    src: url("../fonts/glyphicon-halflings-regular.eot") format("eot"), url("../fonts/glyphicon-halflings-regular.woff") format("woff"), url("../fonts/glyphicon-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicon-halflings-regular.otf") format("opentype"), url("../fonts/glyphicon-halflings-regular.svg") format("svg");
}
